{% load i18n %}
{% load staticfiles %}
{% load static %}

{% with all_images=product.images.all %}
	{# use length rather then count as the images get queried anyways #}

	{% if all_images|length > 1 %}

		<div class="item-image">
			{% for image in all_images %}
					<a class="fancybox" rel="group" href="{% get_static_prefix %}{{ image.original }}"><img src="{% get_static_prefix %}{{ image.original }}" alt="{{ product.get_title }}" width="200" /></a>
			{% endfor %}
		</div>

	{% else %}

		{# Only one image to show #}

		<div class="item active">
			{% with image=product.primary_image %}
				<a class="fancybox" rel="group" href="{% get_static_prefix %}{{ image.original }}"><img src="{% get_static_prefix %}{{ image.original }}" alt="{{ product.get_title }}" width="200" /></a>
			{% endwith %}
		</div>
	{% endif %}
{% endwith %}
