{% extends "base.html" %}
{% load compress %}
{% load promotion_tags %}

{% block layout %}

	{% include "partials/header.html" %}
	{% block checkout_nav %}{% endblock %}

	{# Main content of page - other layout templates may override this block #}
	{% block content_wrapper %}
		{% block header %}
			<div class="page-title">
				<div class="container">
					<h2>{% block headertext %}{% endblock %}</h2>
					<hr />
				</div>
			</div>
		{% endblock %}


		{% block subnavigation %}{% endblock %}

		{% block subheader %}{% endblock subheader %}

		{% block page_promotions %}{% endblock %}

		{% include "partials/alert_messages.html" %}

		{# Div exists for AJAX updates to entire content section #}
		{% block content %}
		{% endblock %}

		{# Render promotions #}
		<div class="recent-posts blocky">
			{% for promotion in promotions_right %}
				{% render_promotion promotion %}
			{% endfor %}
		</div>

	{% endblock %}

	{% include "partials/footer.html" %}

	<!-- Scroll to top -->
	<span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span>
{% endblock %}

{% block extrascripts %}
	{% include "partials/extrascripts.html" %}
	{{ block.super }}
{% endblock %}
