{# Site logo/title, mini-basket, browse dropdown and searchbox #}
<div class="header">
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-sm-2">
				{% include "partials/brand.html" %}
			</div>

			<div class="col-md-6 col-sm-5">
				{% block navigation %}
					{% include "partials/nav_primary.html" %}
				{% endblock %}
			</div>

			<div class="col-md-4 col-sm-5">
				{# Mini-basket wrapped in a block so some templates can now display it #}
				{% block mini_basket %}{% include "partials/mini_basket.html" %}{% endblock %}
			</div>
		</div>
	</div>
</div>