{% load url from future %}
{% load currency_filters %}
{% load category_tags %}
{% load icontags %}
{% load i18n %}

<!-- Navigation menu -->
<div class="collapse navbar-collapse mattblackmenu" role="navigation">
	<ul class="nav navbar-nav">
		<li {% if request.path == '/' %}class="active"{% endif %}><a href="/">{% trans "Home" %}</a></li>
		<li {% if request.path == '/faq/' %}class="active"{% endif %}><a href="/faq/">{% trans "Вопросы" %}</a></li>
		<li {% if request.path == '/delivery/' %}class="active"{% endif %}><a href="/delivery/">{% trans "Доставка" %}</a></li>
		<li class="dropdown-submenu {% if request.path == '/catalogue/' %}active{% endif %}">
			<a href="{% url 'catalogue:index' %}">{% trans "Browse store" %}</a>
				{% full_tree_for_category categories.category as categories %}
				{% if categories %}
					{% for node,structure in categories|tree_info %}
						{% if structure.new_level %}<ul class="dropdown-menu ddsubmenustyle" ><li>{% else %}</li><li class="dropdown-submenu">{% endif %}
					{% related_category_node node %}
					<a href="{{ related_cat_node.get_absolute_url }}">{{ related_cat_node.name }}</a>
					{% for level in structure.closed_levels %}</li></ul>{% endfor %}
					{% endfor %}
				{% endif %}
		</li>
		<li  {% if request.path == '/contacts/' %}class="active"{% endif %}><a href="/contacts/">{% trans "Контакты" %}</a></li>
	</ul>
</div>