{% extends "layout.html" %}
{% load staticfiles %}
{% load promotion_tags %}
{% load i18n %}

{% block header %}{% endblock %}

{% block page_promotions %}
<!-- Carousel starts -->
<div id="carousel-example-generic" class="carousel slide">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-example-generic" data-slide-to="1"></li>
		<li data-target="#carousel-example-generic" data-slide-to="2"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		<!-- Item -->
		<div class="item active animated fadeInRight">
			<img src="{% static "img/promo/back1.jpg" %}" alt="" class="img-responsive"/>

			<div class="carousel-caption">
				<h2 class="animated fadeInLeftBig">Тайная вечеря</h2>

				<p class="animated fadeInRightBig">Выбор наших изделий подчеркивает Ваш вкус</p>
				<a href="/catalogue/category/taynaya-vechere_29/" class="animated fadeInLeftBig btn btn-info btn-lg">стоимость от 75 у.е.</a>
			</div>
		</div>

		<div class="item animated fadeInRight">
			<img src="{% static "img/promo/back2.jpg" %}" alt="" class="img-responsive"/>

			<div class="carousel-caption">
				<h2 class="animated fadeInLeftBig">Архиепископ Лука</h2>

				<p class="animated fadeInRightBig">Иконы в современном доме -  окно из мира небесного в мир земной</p>
				<a href="/catalogue/category/venchalnye-nabory_23/" class="animated fadeInLeftBig btn btn-info btn-lg">стоимость от 122 у.е.</a>
			</div>
		</div>

		<div class="item animated fadeInRight">
			<img src="{% static "img/promo/back3.jpg" %}" alt="" class="img-responsive"/>

			<div class="carousel-caption">
				<h2 class="animated fadeInLeftBig">Венчальные наборы</h2>

				<p class="animated fadeInRightBig">Венчальные наборы -основа домашнего иконостаса молодых супругов</p>
				<a href="/catalogue/category/ikony-sviatykh_22/" class="animated fadeInLeftBig btn btn-info btn-lg">Стоимость от 59 у.е.</a>
			</div>
		</div>
	</div>

	<!-- Controls -->
	<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
		<span class="icon-prev"></span>
	</a>
	<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
		<span class="icon-next"></span>
	</a>
</div>
<!-- carousel ends -->
{% endblock %}

{% block content %}
{% endblock content %}
